
body{
    box-sizing: border-box;
    width: 100%;
    margin: 0px; 
    font-family: 'Metropolis', sans-serif;
    
    
    
}

.image-container img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
   
}
header{
    position: relative;
}
.nav {
    position: absolute;
    top:0px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    color: rgb(255, 255, 255);
    
}
.logocontainer{
    display: flex;
    width:120px;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left:70px;
}
.logocontainer1{
    width:500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.logocontainer1 a{
    color: inherit;
    font-size: 19px;
    font-weight: 100px;
    font-family: "Metrophobic", serif;
    text-decoration: none;
    font-family: 'Metropolis', sans-serif;
}
.header-body{
    position: absolute;
    top:90px;
    left:253px;
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 750px;
    
    
}
.search-container{
    width:810px;
    height:49px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    
    
    
}
p{
    width:100%;
    padding-left: 32px;
    font-family: "Open sans",sans-serif;
    line-height: normal;
    font-size: 36px;
    font-weight: 300;
    
  
}
.location{
    margin-top: 18px;
    
}


.location i{
    color:#ff7e8b;
    font-size: 18px;
    padding: 0px 0px 20px 10px;

    
    
}

.location input{
    border: none;
    font-size: 15px;
    width:150px;
    font-family: "Open sans",sans-serif;
   
    
}

.items input{
    border: none;
    font-size: 15px;
    width:300px;
    font-family: "Open sans",sans-serif;
    padding : 1px 2px;
    
}

.items{
   color: 
   #b5b5b5;
   font-size: 18px;
}

.foot{
    padding-top: 50px;
    margin-left: 90px;
    display: flex;
    gap:20px;
    
    
}
.foot img{
    width: 45%;
    height:160px;
    object-fit: cover;
    object-position: top down;
    border-radius: 15px;
    
}
